
<div class="d-flex justify-content-center">
    
    <div class="add-new-case">
        <EditForm Model="@CreditDocument" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            @* <Microsoft.AspNetCore.Components.Forms.ValidationSummary/> *@

            <div class="d-flex justify-content-center flex-column">
                <div class="d-flex flex-column gap-2 mb-3">
                    <span class="ml-1 fw-700 text-md font-color-2">Företagsnamn</span>
                    <TextEdit @bind-Text="CreditDocument.CompanyName"
                              Style="border-radius: 14px;"
                              Placeholder="Företagsnamn"/>
                    <ValidationMessage For="@(() => CreditDocument.CompanyName)" />
                </div>
                <div class="d-flex flex-column gap-2 mb-3">
                    <span class="ml-1 fw-700 text-md font-color-2">Organisationsnummer</span>
                    <TextEdit @bind-Text="CreditDocument.OrganizationNumber"
                              Style="border-radius: 14px;"
                              Placeholder="Organisationsnummer"/>
                    
                    <ValidationMessage For="@(() => CreditDocument.OrganizationNumber)" />
                </div>
                <div class="d-flex flex-column gap-2 mb-3">
                    <span class="ml-1 fw-700 text-md font-color-2">Lånenummer</span>
                    <TextEdit @bind-Text="CreditDocument.LoanNumber"
                              Style="border-radius: 14px;"
                              Placeholder="Lånenummer"/>
                    
                    <ValidationMessage For="@(() => CreditDocument.LoanNumber)" />
                </div>
                <div class="d-flex flex-column gap-2 mb-3">
                    <span class="ml-1 fw-700 text-md font-color-2">Region</span>
                    <Select TValue="int" Style="border-radius: 14px;">
                        <SelectItem Value="1">Region</SelectItem>
                        <SelectItem Value="2">Region 2</SelectItem>
                        <SelectItem Value="3">Region 3</SelectItem>
                        <SelectItem Value="4">Region 4</SelectItem>
                    </Select>
                </div>
                <div class="d-flex flex-column gap-2">
                    <span class="ml-1 fw-700 text-md font-color-2">Datum</span>
                    @* <DateEdit TValue="DateTime" Style="border-radius: 14px;" @bind-Date="CreditDocument.Date" />*@
                    <DateEdit TValue="DateTime" Style="border-radius: 14px;" @bind-Date="CreditDocument.Date" Placeholder="Select Date"/>
                </div>

            </div>

            <div class="action-buttons mt-3">
                <Button Clicked="CloseModalNow">Avbryt</Button>
                <Button Class="secondary-button" Type="ButtonType.Submit">
                    Spara & stänga
                </Button>
                @*     <Button Color="Color.Secondary">Previous</Button>*@
                @*<Button Class="primary-button">Nästa</Button>*@
            </div>
        </EditForm>
    </div>
</div>
